//=======================================================
// Variables
//=======================================================

$zi-highest: 50;
$zi-high: 40;
$zi-medium: 30;
$zi-low: 20;
$zi-lowest: 10;
$zi-ground: 0;
$zi-below-ground: -1;

// hero height
$hero-height-tall-sm: 350px;
$hero-height-tall-md: 400px;
$hero-height-short-sm: 300px;
$hero-height-short-md: 400px;
