{# {% import '@components/icons/icons.twig' as icons %} #}
{# {% set heading_level = heading_level|default(2) %} #}
<div class="cards-collection">
  {% for item in items %}
    {%
      include '@components/card/card.twig' with {
        'icon': item.icon,
        'heading': item.heading,
        'body': item.body,
        'class': 'cards-collection__card',
      } only
    %}
  {% endfor %}
</div>
