// Breaker
//
// This is the breaker component.
//
// Markup: breaker.twig
//
// Style guide: Components.Breaker

// Import site utilities.
@import '../../global/utils/init';

.breaker {
  position: relative;
}

.breaker__top {
  position: absolute;
  top: 2rem;
  left: 5%;
  width: 90%;
  color: $color-white;
  z-index: $zi-low;

  @include breakpoint($bp-xsm) {
    top: 4rem;
    left: 10%;
    width: 80%;
  }

  @include breakpoint($bp-md) {
    top: 6.5rem;
  }
}

.eyebrow.breaker__eyebrow {
  background: transparent;
  text-align: center;
  display: block;
  margin: 0 auto 1.5rem;

  @include breakpoint($bp-md) {
    margin: 0 auto 3rem;
  }

  @include breakpoint($bp-md) {
    margin: 0 auto 3rem;
  }
}

.breaker__heading {
  margin-bottom: 1rem;
  font-weight: 300;

  @include breakpoint($bp-xsm) {
    margin-bottom: 1.5rem;
  }

  @include breakpoint($bp-md) {
    margin-bottom: 1rem;
  }
}

.breaker__cards {
  width: 90%;
  margin: -5rem auto 4rem;
  position: relative;
  z-index: $zi-medium;

  @include breakpoint($bp-xsm) {
    margin-top: -7rem;
  }

  @include breakpoint($bp-md) {
    display: flex;
    margin-top: -10rem;
  }
}

.card.breaker__card {

  &--first {
    background: lighten($color-gallery, 5%);
  }

  &--last {
    background: darken($color-gallery, 5%);
  }
}
